/*FONTS*/
@font-face {
  font-family: 'nanum_penregular';
  src: url('nanumpenscript-regular-webfont.woff2') format('woff2'),
  url('nanumpenscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*GLOBALS*/
body{
  max-width: 355px;
  font-family: NanumPen;

}

.buttonDark{
  background: rgba(0,0,0,0.80);
}

.buttonLight{
  background: rgba(0,0,0,0.50);
}

.button{
  /* button: */
  box-shadow: 0px 2px 4px 0px #000000;
  border-radius: 10px;
  width: 77.74px;
  height: 78.81px;
  margin: 3px;
  float:left;
  list-style-type:none;
  width:23%;

  /* text */
  font-size: 42.64px;
  color: #02FD3D;
  letter-spacing: 2px;
  text-align: center;
  line-height: 77.74px;
}

.buttonRow{
  width:375px;
  height:75px;
  margin-left:-26px;
}

.titleBackground{
  /* titleBackground: */
  background: rgba(0, 0, 0, 0.30);
  border: 1px solid #979797;
  margin: 0px -10px;
  padding: 0;
}

.title{
  /* title: */
  font-family: NanumPen;
  font-size: 36px;
  color: #02FD3D;
  letter-spacing: 0px;
  text-shadow: 0px 2px 4px #000000;
}

.backButton{
  float: left;
  clear: both;
  padding: 10px;
  margin-top: -12px;
}

.titleText{
  text-align: center;
}


                                                        /* MAIN */
.main {
  background: url(../img/bg/main/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#mainTitleBackground{
  /* titleBackground: */
  border: 1px solid #979797;
  background: rgba(0, 0, 0, 0.30);
  margin: 0;
  padding: 0;
}

#mainTitle{
  /* title: */
  /*font-family: NanumPen;*/
  font-size: 24px;
  color: #02FD3D;
  letter-spacing: 0px;
  text-shadow: 0px 2px 4px #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu{
  /*font-family: NanumPen;*/
  letter-spacing: 0px;
  text-shadow: 0px 2px 4px #000000;

}

.mainShortVowels {
  /* shortVowels: */
  font-size: 32px;
  color: #FF00F1;
  margin: 15px 10px 0 20px;
}

.mainLongVowels {
  /* longVowels: */
  font-size: 36px;
  color: #FF001F;
  margin: 0 0 30px 180px;
}

.mainConsonants{
  /* consonants: */
  font-size: 36px;
  color: #FFE400;
  margin: 60px 0 70px 0;
}

.mainBlends{
  /* blends: */
  font-size: 36px;
  color: #15FF00;
  margin: 0 0 60px 180px;
}

.mainMoreComing{
  /* moreComing: */
  font-size: 36px;
  color: #00F8FF;
  margin: 0 0 15px 20px;
}

#mainSoon{
  /* soon: */
  font-size: 48px;
  color: #37FF00;
  margin: 0 0 0 190px;

}

a:active, a:hover, a:link, a:visited  {
  text-decoration: none !important;
  color: currentColor;
}

                                                    /* VOWELS */
.vowelMenu {
  list-style-type: none;
  margin-left: -40px;

}

.lbutton{
  box-shadow: 0px 2px 4px 0px #000000;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin: 5px;
  width:20%;
  /*font-family: .HelveticaNeueDeskInterface-Regular;*/
  font-size: 42.64px;
  color: #02FD3D;
  letter-spacing: 2px;
  text-align: center;
  line-height: 63px;
}

.content{
  float:right;
}

.content img {
  width: 150px;
  margin-top: 50px;
  margin-right: 50px;
}

.vowelWord{
  text-align: right;
  margin-right: 20px;
  /*font-family: .HelveticaNeueDeskInterface-Regular;*/
  font-size: 45px;
  color: #02FD3D;
  line-height: 35px;
  text-shadow: 2px 4px 3px #000000;
}



                                              /* SHORT VOWELS */

/* background */
.shortVowelsBody{
  background: url(../img/bg/shortVowels/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

                                              /* LONG VOWELS */

/* background */
.longVowelsBody{
  background: url(../img/bg/longVowels/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.subVmenu{
  text-align: center;
   margin-top: 55%;
}

.subButton{
  box-shadow: 0px 2px 4px 0px #000000;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
  /*font-family: .HelveticaNeueDeskInterface-Regular;*/
  font-size: 30px;
  color: #02FD3D;
  letter-spacing: 4px;
}

                                            /* CONSONANTS */
.consBody{
  background: url(../img/bg/consonants/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

                                              /* BLENDS */
.blendsBody {
  background: url(../img/bg/blends/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.group1{color:#e9671e;}
.group2{color:#18a8de;}
.group3{color:#cf15c7;}


                                      /* DIALOG BOX */

#overlay {
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:300px;
     margin: 100px auto;
     background-color: rgba(45, 50, 85, 0.9);
     padding:5px;
     text-align:center;
     color: #02FD3D;
     border-radius: 10px;
}

#overlay span {
  float: right;
  background-color: rgb(65, 83, 107);
  padding: 3px 10px;
  border-radius: 25%;
  font-size: 30px;

}

.conContent{
  font-size: 46px;
}

.conContent img {
  width: 150px;
  padding: 10px;
  margin-right: -30px;
}

    /* Phone Size */
@media screen and (max-width: 960px) {

}

    /* Tablet Size */
@media screen and (max-width: 1024px) { //tablet

}

/*
Phone
480
640
720
768
1080

Tablet
600
768
800
1200
1536
1600
*/
